.brands {
  @include centering(true);

  position: relative;
  padding: 138px 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;

    width: $wave-width;
    height: 100%;

    background: $brands-bg;
    z-index: -1;
  }

  &__title {
    position: relative;
    margin-bottom: 112px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -25px;

      width: 148px;
      height: 4px;

      background: #2d1a83;
      border-radius: 5px;
      transform: translate(-50%);
    }
  }
}
