.footer {
  display: grid;
  grid-template-columns: 30px 840px 352px;
  gap: 90px;
  margin: 0 auto 76px;
  padding: 133px 0 66.5px;
  max-width: 1432px;

  &__subsctibe {
    padding-bottom: 15px;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $contrast;
  }

  &__paragraph {
    padding-bottom: 40px;

    font-size: 14px;
    line-height: 17px;
    color: $footer;
  }

  &__form {
    width: 330px;
  }

  &__input {
    width: 330px;
    height: 54px;
    padding-left: 21.33px;
    margin-bottom: 20.15px;

    font-size: 14px;
    line-height: 16.8px;

    border-radius: 5px;
    border: 0.3px solid #c4c0cc;

    &::placeholder {
      color: $contrast;
      opacity: 0.34;
    }
  }

  &__submit {
    @include size(185px, 54px);

    color: $text-contrast;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

    background: $submit-bg;
    border-radius: 5px;
    border: none;

    cursor: pointer;

    @include submit-hover(5px, true);
  }

  &__nav {
    display: grid;
    grid-template-columns: 167px repeat(3, 1fr);
    gap: 72px;
    margin-bottom: 79px;

    font-size: 14px;
    line-height: 17px;
    color: $footer;
  }

  &__topic {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }

  &__item {
    margin-bottom: 27.5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
  }

  &__socials {
    @include centering;
    justify-content: start;
    gap: 44.6px;
  }

  &__connect {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #2d1a83;
  }
}
