.footer-end {
  position: absolute;
  bottom: -76px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76px;

  background: $contrast;

  &__text {
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 500;
    color: $text-contrast;
  }
}
