%logo {
  width: 37.1px;
  height: 40.95px;
}

.header {
  @include centering(true);
  @include background("../images/header/blue-background.png");

  padding: 44.87px 0 190px;
  color: $text-contrast;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1410px;
  }

  &__logo {
    @extend %logo;
  }

  &__picture {
    @extend %logo;
  }

  &__nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 71px;
    width: 100%;
    padding-right: 79px;

    font-size: 16px;
    line-height: 18.75px;
  }

  &__dropdown {
    position: relative;

    cursor: pointer;

    &::after {
      content: url(../images/header/dropdown.svg);
      position: absolute;
      right: -18px;
      top: 0;

      display: block;
    }

    &--off {
      &::after {
        content: none;
      }
    }
  }

  &__about {
    color: inherit;
  }

  &__demo {
    @extend %button;
    position: relative;

    @include size(147px, 58px);
    padding: 0 12px;

    color: $text-contrast;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;

    border: 1px solid $text-contrast;
    border-radius: $border-radius - 5;
    background: transparent;

    overflow: hidden;
    box-sizing: initial;
    transition: background-color $animation;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 60px;
      height: 100%;
      background: rgba(255,255,255,0.5);

      opacity: 0.5;
      filter: blur(30px);
      transform: translateX(-100px)  skewX(-15deg);
      transition: 0.7s;
    }

    &::after {
      content: "";
      position: absolute;
      left: 30px;
      top: 0;

      width: 30px;
      height: 100%;
      background: rgba(255,255,255,0.2);

      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
      transition: 0.7s;
    }
    &:hover {
      background: #3357ce9b;

      &::before {
        transform: translateX(300px)  skewX(-15deg);
        opacity: 0.6;
      }
      &::after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
      }
    }
  }

  &__content {
    text-align: center;
  }

  &__text {
    padding: 111.74px 0 112.31px;
  }

  &__subheader {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.55);
  }

  &__button {
    color: #1348fc;
    border-color: $text-contrast;
  }

  &__video {
    width: 895px;
  }

  &__preview {
    $border: 39px;

    width: 100%;

    border: $border solid $text-contrast;
    border-radius: 10px;
    outline: 3px solid $text-contrast;
    outline-offset: -$border - 1;
    filter: $preview-shadow;
  }
}
