.mail {
  display: flex;
  justify-content: center;
  margin-top: 126px;
  padding: 115px 50px;
  box-sizing: border-box;

  color: $like-white;

  background: center / contain no-repeat url(../images/mail/Background.svg);

  &__wrapper {
    width: 100%;
    max-width: 714px;
    min-height: 296px;

    text-align: center;
  }

  &__title {
    margin-bottom: 24px;

    font-weight: 500;
    text-transform: capitalize;
    text-shadow: $title-shadow;
  }

  &__form {
    position: relative;

    width: 690px;
    margin-top: 84px;
  }

  &__input {
    @include size(690px, 60px);
    padding-left: 25px;

    font-size: 15px;
    font-weight: 500;

    background: $like-white;
    border-radius: 80px;
    border: none;

    &::placeholder {
      color: #ddd;
    }
  }

  &__submit {
    $submit-radius: 80px;

    position: absolute;
    right: 7px;
    top: 6px;

    @include size(154px, 48px);

    color: $text-contrast;
    font-size: 15px;
    font-weight: 500;

    background: $submit-bg;
    border-radius: $submit-radius;
    border: none;

    cursor: pointer;

    @include submit-hover($submit-radius);

    // overflow: hidden;
    // z-index: 1;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;

    //   @include size(100%);
    //   border-radius: $submit-radius;
    //   z-index: -2;
    // }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;

    //   @include size(0%, 100%);

    //   background: $submit-bg-darken;
    //   transition: width $animation, transform $animation;
    //   border-radius: $submit-radius;
    //   z-index: -1;
    // }

    // &:hover {
    //   &::before {
    //     width: 100%;
    //   }
    // }

    // &:focus {
    //   transform: scale(0.95);
    // }
  }
}
