.post {
  &__image {
    filter: $post-shadow;
  }

  &__details {
    @include centering;
    @extend %post-details;

    justify-content: space-between;
    padding: 10px 37px 0;
  }

  &__user {
    @include centering;
    @extend %details-separator;

    gap: 10px;
  }

  &__user-icon {
    border-radius: 50%;
    box-shadow: $post-user-shadow;
  }

  &__date {
    @extend %details-separator;
  }

  &__timing {
    @include centering;
    gap: 10px;
  }

  &__time {
    @include centering;

    width: 40px;
    height: 40px;

    color: $contrast;
    background: $text-contrast;
    border-radius: 50%;
    box-shadow: $post-user-shadow;
  }
}
