@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin background($_url: false) {
  position: relative;
  right: $page-padding;
  width: $wave-width;

  @if $_url {
    background: no-repeat url($_url);
  }
}

@mixin centering($_collum: false) {
  display: flex;
  align-items: center;

  @if $_collum {
    flex-direction: column;
  }

  @else {
    justify-content: center;
  }
}
