$contrast: #0738dd;
$like-white: #fbfafd;
$text: #152370;
$text-contrast: #fff;
$wave-bg: #eff2f3;

$title-shadow: 0 4px 4px rgba(0, 0, 0, 0.55);
$h3-shadow: 0 4px 4px rgba(0, 0, 0, 0.55);
$post-shadow: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.48));
$post-user-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);

$page-padding: 27px;
$border-radius: 10px;
$text-row-width: 485px;

$card-color: #333;
$card-shadow: 0 1px 30px rgba(111, 178, 216, 0.25);
$card-gradient: linear-gradient(360deg, #0083fe 11.12%, #091cd0 100%);
$card-height: 300px;
$card-width: 330px;
